Print Function

In [2]:
print("Krunal Kevadiya")

Krunal Kevadiya

In [3]:
a=2
b=3
print(a,b)

# it works like 
# print (value,...,sep=' ',end='/n') --> it is by default value 
# we can change value of sep and end 



# Here function work like 
# a=2 it print than , it show seperater and by default sep value is one space so it put one space and than b=3
# default value of end is new line means at last it goes into new line

2 3

 change in Sep and end

In [4]:

print (a,end="#")
print (a,b,sep="@",end="*")
print("abc")

2#2@3*abc

variable declaration

In [5]:
a=2
b=3

a,b,c=2,3,4

In [6]:
print (a)
print (b)
print (c)

2
3
4

In [5]:
a=2
b=3

a,b,c=2,3,2
print (a,id(a))
print (b,id(b))
print (c,id(c))

2 2131406422288
3 2131406422320
2 2131406422288

In [7]:
a=2
b=3

a,b,c=2,3,2
print (a,id(a))
print (b,id(b))
print (c,id(c))
print (c,id(c))

2 2131406422288
3 2131406422320
2 2131406422288
2 2131406422288

What is Datatype?

Various types of Datatype

Number

int datatype

float datatype

complex datatype

**** Data type in python ****

1) Number : int , float , complex

In [13]:
a=2              #int type
print (type (a))
a=5.22             # float type
print (type (a))
a=2+5j             #complex type
print (type (a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [14]:
a=complex(6,8)
print (a)

(6+8j)

2) String Datatype

In [16]:
x='abc'
y="abc"
k="""K"""
w='s'
z="k"


print(type(x))
print(type(y))
print(type(z))
print(type(k))
print(type(w))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [19]:
a,b="aaa","bbb"
print (a+b)
print (a*3)

aaabbb
aaaaaaaaa

In [24]:
a="KrUNAL KeVAdiYA"
print(a.upper())
print(a.lower())
print(a.capitalize())
print (a.title())

KRUNAL KEVADIYA
krunal kevadiya
Krunal kevadiya
Krunal Kevadiya