In [10]:
print ("5 == 5 is --> ",5 == 5)
print ("5 > 5 is --> ",5 > 5)


print('**********************************************')
print ("None == 0 is  --> ", None == 0)
print ("None = False is --> ", None == False)
print ("None == [] is --> ",None == [])
print ("None == None is --> ",None == None)

5 == 5 is -->  True
5 > 5 is -->  False
**********************************************
None == 0 is  -->  False
None = False is -->  False
None == [] is -->  False
None == None is -->  True

In [13]:
def a_void_function():
    a=1
    b=2
    c=a+b
    # return (c)

x=a_void_function()
print(x)

None

In [18]:
print ("True and True is --> ",True and True)
print ("True and False is --> ",True and False)
print ("False and True is --> ",False and True)
print ("False and False is --> ",False and False)
print('**********************************************')
print ("True or True is --> ",True or True)
print ("True or False is --> ",True or False)
print ("False or True is --> ",False or True)
print ("False or False is --> ",False or False)
print('**********************************************')
print('not True is -->',not True)
print('not false is -->',not False)

True and True is -->  True
True and False is -->  False
False and True is -->  False
False and False is -->  False
**********************************************
True or True is -->  True
True or False is -->  True
False or True is -->  True
False or False is -->  False
**********************************************
not True is --> False
not false is --> True

In [21]:
# Assert return bollean value 
assert 5 > 4
# assert 5 > 6
assert 5 == 5


# it give error because of if state ment is true than it give nothing but if it is false than it give error

In [25]:
# break statement

for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [28]:
#class
class ExampleClass:
    def function1(parameters):
        print("function1() exectuting")
    def function2(parameters):
        print("function1() exectuting")

ob1 = ExampleClass()
ob1.function1()
ob1.function2()

function1() exectuting
function1() exectuting

In [32]:
# if ---- elif -----else

num = 2
if num == 1 :
    print('one')

elif num == 2:
    print("two")

else : 
    print ('something else')

two

In [2]:
#write in file 
with open('example.txt','w') as my_file:
    my_file.write("Ganeshay Namah")