In [4]:
my_set1 = {11,22,33,52,36,96}
print(my_set1)
print(type(my_set1))

{96, 33, 36, 52, 22, 11}
<class 'set'>

In [9]:
my_set2 = {2013.33,202,'krunal',True,(22,85,96.2)}
print(my_set2)

{'krunal', True, (22, 85, 96.2), 202, 2013.33}

In [11]:
#duplicate value are not allowed 
my_set3 = {11,22,33,55,33,66,22,55}
print (my_set3)

{33, 66, 22, 55, 11}

In [12]:
my_set4 = {1,2,5,[5,8,6,9]}
#set can not contain any immutable item

print(my_set4)

TypeError: unhashable type: 'list'

In [15]:
#make set from list 
my_set5 = set([5,8,6,9])
print(my_set5)

{8, 9, 5, 6}

In [16]:
#make list from set 
my_list1=list({1,2,3,5,3,5})

In [18]:
print(my_list1)

[1, 2, 3, 5]

In [19]:
#operation on set

In [20]:
print(my_set1)

{96, 33, 36, 52, 22, 11}

In [22]:
#set object not contain any indexing 
my_set[0]

NameError: name 'my_set' is not defined

In [24]:
#to add element 
my_set1.add(99)
print(my_set1)

{96, 33, 99, 36, 52, 22, 11}

In [26]:
#add multiple element in set 
my_set1.update([5,6,7,8])
print(my_set1)

{5, 6, 7, 8, 11, 22, 96, 33, 99, 36, 52}

In [27]:
#add multiple element in set 
my_set1.update({26,28,29},[45,46,74,48])
print(my_set1)

{5, 6, 7, 8, 74, 11, 22, 26, 28, 29, 96, 33, 99, 36, 45, 46, 48, 52}

In [28]:
print(my_set2)

{'krunal', True, (22, 85, 96.2), 202, 2013.33}

In [29]:
my_set2.discard(8) #8 is not prewsent in this list but it didnot give any error

In [31]:
my_set2.remove(8) #8 is not prewsent in this list but it did give any error

KeyError: 8

In [32]:
my_set2.discard(True)

In [34]:
print(my_set2)

{'krunal', (22, 85, 96.2), 202, 2013.33}

In [35]:
my_set2.remove('krunal')

In [36]:
print(my_set2)

{(22, 85, 96.2), 202, 2013.33}

In [43]:
my_set3={1,2,3,4,5,6,8}
print(my_set3)

{1, 2, 3, 4, 5, 6, 8}

In [44]:
print(my_set3.pop())
print(my_set3)

1
{2, 3, 4, 5, 6, 8}

In [45]:
print(my_set3.pop())
print(my_set3)

2
{3, 4, 5, 6, 8}

In [46]:
my_set3.clear()
print(my_set3)

set()

In [47]:
# set operation = union
set1 = {0,1,2,3,4}
set2 = {10,11,12,13,14}
print(set1)
print(set2)

{0, 1, 2, 3, 4}
{10, 11, 12, 13, 14}

In [48]:
print(set1 | set2)
print(set2 | set1)

print (set1.union(set2))
print (set2.union(set1))

{0, 1, 2, 3, 4, 10, 11, 12, 13, 14}
{0, 1, 2, 3, 4, 10, 11, 12, 13, 14}
{0, 1, 2, 3, 4, 10, 11, 12, 13, 14}
{0, 1, 2, 3, 4, 10, 11, 12, 13, 14}

In [49]:
# set operation = union
set1 = {0,1,2,3,4}
set2 = {0,11,2,13,4}
print(set1)
print(set2)

{0, 1, 2, 3, 4}
{0, 2, 4, 11, 13}

In [50]:
print(set1 & set2)
print(set2 & set1)

print (set1.intersection(set2))
print (set2.intersection(set1))

{0, 2, 4}
{0, 2, 4}
{0, 2, 4}
{0, 2, 4}

In [51]:
print(set1 - set2)
print(set2 - set1)

print (set1.difference(set2))
print (set2.difference(set1))

{1, 3}
{11, 13}
{1, 3}
{11, 13}

In [56]:
print(set1 ^ set2)
print(set2 ^ set1)

print (set1.symmetric_difference(set2))
print (set2.symmetric_difference(set1))

{1, 3, 11, 13}
{1, 3, 11, 13}
{1, 3, 11, 13}
{1, 3, 11, 13}