In [1]:
tuple1 = ()
print(tuple1)

()

In [2]:
tuple2 = (1,2,3)
print(tuple2)

(1, 2, 3)

In [3]:
tuple3 = (101,'Antman',20000.02,False)
print(tuple3)

(101, 'Antman', 20000.02, False)

In [5]:
tuple4 = (101,[1,'i',66.25],('Antman',20000.02),False)
print(tuple4)

(101, [1, 'i', 66.25], ('Antman', 20000.02), False)

In [6]:
# TUPLE INITIALIXATION WITHOUT ANY BRAKET

In [7]:
tuple5 = 101,'Krunal',False,558.256
print(tuple5)

(101, 'Krunal', False, 558.256)

In [13]:
tuple6 = 1,25545,'radhe'
empid,empnumber,empname = tuple6

print(empid)
print(type(empid))

1
<class 'int'>

In [14]:
# characteristic of tuple

In [15]:
tuple7 = ('w','e','l','c','o','m','e')
print(tuple7)

('w', 'e', 'l', 'c', 'o', 'm', 'e')

In [16]:
tuple7[2]=84

TypeError: 'tuple' object does not support item assignment

In [21]:
tuple7 = ('k','r','u','n','a','l')
print(tuple7)

('k', 'r', 'u', 'n', 'a', 'l')

In [19]:
# it happend because we can initialized tuple again but we can not edit or aqdd new element in same tuple if we add that it give  type error